@model Quiron.LojaVirtual.Dominio.Entidade.Produto

@{
    ViewBag.Title = "Alterar";
    Layout = "~/Areas/Administrativo/Views/Shared/_AdministrativoLayout.cshtml";
}

<h2>Alterar - @Model.Nome</h2>

@using (Html.BeginForm("Produto", "Alterar"))
{
    @Html.EditorForModel()
    
    <input type="submit" value="Salvar" class="btn btn-primary"/>
    @Html.ActionLink("Votar", "Index");
}