@model Quiron.LojaVirtual.Dominio.Entidade.Administrador
@{
    Layout = null;
}
@*http://bootsnipp.com/snippets/featured/google-style-login-extended*@

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body></body>
</html>